body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

h1 {
	color: darksalmon;
	padding: 5px;
	text-align: center;

}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 70%; background-color: #04AA6D;}
.css {width: 65%; background-color: #2196F3;}
.js {width: 60%; background-color: #f44336;}

.color {
  display: block;
  width:20%;
  background-color: yellow;
  padding: 10px;
  font-size: 25px;
  }
</style>


</head>